<div class="meal-header">
    <h2 class="title">Liste des repas</h2>
    <a mat-raised-button color="primary" routerLink="/meal/create">Ajouter repas</a>
</div>

<mat-accordion *ngIf="meals.length > 0">
    <mat-card *ngFor="let meal of meals" [ngStyle]="{'background-color': meal.background}">
        <mat-card-header>
            <!--Titre-->
            <mat-card-title>
                {{ meal.title }}
            </mat-card-title>

            <!--Sous titre-->
            <mat-card-subtitle>
                Pour {{ meal.numberOfLunch }} repas.
            </mat-card-subtitle>
        </mat-card-header>

        <!--Image-->
        <div class="meal-image">
            <img [src]="meal.imagePath" [alt]="meal.title">
        </div>

        <!--Boutons d'actions-->
        <mat-card-actions>
            <a mat-raised-button color="primary" *ngIf="meal.state" (click)="consume(meal._id)">Consommer</a>
        </mat-card-actions>
    </mat-card>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="meals.length == 0">Aucun Repas</p>