<div class="meal-header">
    <h2 class="title">Liste des repas</h2>
    <a mat-raised-button color="primary" routerLink="/meal/create">Ajouter repas</a>
</div>

<mat-accordion *ngIf="meals.length > 0">
    <mat-card *ngFor="let meal of meals" [ngStyle]="{'background-color': meal.background}">
        <mat-card-header>
            <mat-card-title>
                {{ meal.title }}
            </mat-card-title>

            <mat-card-subtitle>
                Pour {{ meal.numberOfLunch }} repas.
            </mat-card-subtitle>
        </mat-card-header>

        <div class="meal-image">
            <img [src]="meal.imagePath" [alt]="meal.title">
        </div>

        <mat-card-actions>
            <a mat-raised-button color="warn" *ngIf="meal.state" (click)="consume(meal._id)">Consommer</a>
            <a mat-raised-button color="primary" *ngIf="meal.state" [routerLink]="['/recipe/displayMeal', meal._id]">
                <mat-icon>remove_red_eye</mat-icon>
            </a>
        </mat-card-actions>

        <mat-list *ngIf="!meal.state">
            <div *ngFor="let missingIngredient of meal.missingIngredients">
                <mat-list-item>
                    <div>
                        {{missingIngredient.ingredientName}} - {{missingIngredient.quantity}} {{missingIngredient.unitOfMeasure}}
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
    </mat-card>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="meals.length == 0">Aucun Repas</p>