<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Overcooked</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-raised-button routerLink="/ingredient/list" routerLinkActive="mat-accent">Ingrédients</a>
    </li>
    <li>
      <a mat-raised-button routerLink="/recipe/list" routerLinkActive="mat-accent" style="margin-left: 1rem;">Recette</a>
    </li>
  </ul>

  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Connexion</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Inscription</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Déconnexion</button>
    </li>
  </ul>
</mat-toolbar>
