<div class="recipe-header">
  <a mat-raised-button color="primary" routerLink="/recipe/create">Créer Recette</a>

  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" style="background-color: #303030;"
    (page)="getRecipesData($event)">
  </mat-paginator>
</div>

<mat-accordion *ngIf="recipes.length > 0 && !isLoading">
  <mat-card *ngFor="let recipe of recipes">
    <mat-card-header>
      <mat-card-title>
        {{ recipe.title }}
      </mat-card-title>

      <mat-card-subtitle>
        Pour {{ recipe.numberOfLunch }} repas.
      </mat-card-subtitle>
    </mat-card-header>

    <div class="recipe-image">
      <img [src]="recipe.imagePath" [alt]="recipe.title">
    </div>
    <hr>

    <mat-card-actions>
      <a mat-raised-button color="primary" [routerLink]="['/recipe/edit', recipe._id]"><mat-icon>edit</mat-icon></a>
      <a mat-raised-button color="secondary" [routerLink]="['/instruction/list', recipe._id]">Instructions</a>
      <button mat-raised-button color="warn" (click)="onDelete(recipe._id)"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="recipes.length == 0">Aucune recette</p>