<mat-drawer-container class="container" autosize>
    <div style="text-align: center;">
        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Recherche" id="search" (keyup)="search($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    
        <mat-form-field appearance="fill" style="margin: 1rem;">
            <mat-label>Nombre d'items</mat-label>
            <mat-select (selectionChange)="updateLimit($event.value)" [(value)]="ingredientLimit">
                <mat-option value="25">25</mat-option>
                <mat-option value="50">50</mat-option>
                <mat-option value="100" default>100</mat-option>
                <mat-option value="150">150</mat-option>
            </mat-select>
        </mat-form-field>
    
        <a mat-raised-button color="primary" routerLink="/ingredient/create" style="margin: 1rem;">Ajouter Ingrédient</a>
    </div>

    <mat-accordion *ngIf="ingredients.length > 0">
        <mat-card *ngFor="let ingredient of ingredients">
            <!--Name-->
            <mat-card-title style="margin-bottom: 1rem;">
                {{ ingredient.name }}
            </mat-card-title>
            <!--Image-->
            <div class="ingredient-image">
                <img [src]="ingredient.imagePath" [alt]="ingredient.name">
            </div>
            <!--Consumable-->
            <mat-dialog-content>
                <div class="row">
                    <div>
                        {{ ingredient.consumable }}
                    </div>
                    <div>
                        <hr>
                        <button mat-button color="warn" (click)="onDelete(ingredient)">Supprimer</button>
                    </div>
                </div>
            </mat-dialog-content>
        </mat-card>
    </mat-accordion>

    <p class="info-text mat-body-1" *ngIf="ingredients.length == 0">Aucun ingrédient</p>

    <mat-accordion *ngIf="ingredients.length <= 12">
        <div style="visibility: hidden;">
            <p style="height: 300px;">REMPLISSAGE</p>
        </div>
    </mat-accordion>
</mat-drawer-container>