<div class="meal-header">
    <h2 class="title">Liste des recettes</h2>
    <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Recherche" id="search" (keyup)="search($event)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 1rem;">
        <mat-label>Catégorie</mat-label>
        <mat-select (selectionChange)="selectCategory($event.value)">
            <mat-option value="">Toutes</mat-option>
            <mat-option *ngFor="let categoryDisplayed of categoriesRecipe" [value]="categoryDisplayed">
                {{categoryDisplayed}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        style="background-color: #303030;" (page)="getRecipesData($event)">
    </mat-paginator>
</div>

<mat-accordion *ngIf="recipes.length > 0 && !isLoading">
    <mat-card *ngFor="let recipe of recipes">
        <mat-card-header>
            <mat-card-title>
                {{ recipe.title }}
            </mat-card-title>

            <mat-card-subtitle>
                Pour {{ recipe.numberOfLunch }} repas.
            </mat-card-subtitle>
        </mat-card-header>

        <div class="recipe-image">
            <img [src]="recipe.imagePath" [alt]="recipe.title">
        </div>

        <mat-card-actions>
            <a mat-raised-button color="primary" (click)="addMeal(recipe._id, recipe.numberOfLunch)">Ajouter</a>
        </mat-card-actions>
    </mat-card>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="recipes.length == 0">Aucune recette</p>