<div class="meal-header">
    <h2 class="title">Liste des recettes</h2>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" style="background-color: #303030;"
        (page)="getRecipesData($event)">
    </mat-paginator>
</div>

<mat-accordion *ngIf="recipes.length > 0 && !isLoading">
    <mat-card *ngFor="let recipe of recipes">
        <mat-card-header>
            <mat-card-title>
                {{ recipe.title }}
            </mat-card-title>

            <mat-card-subtitle>
                Pour {{ recipe.numberOfLunch }} repas.
            </mat-card-subtitle>
        </mat-card-header>

        <div class="recipe-image">
            <img [src]="recipe.imagePath" [alt]="recipe.title">
        </div>

        <mat-card-actions>
            <a mat-raised-button color="primary" (click)="addMeal(recipe._id, recipe.numberOfLunch)">Ajouter</a>
        </mat-card-actions>
    </mat-card>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="recipes.length == 0">Aucune recette</p>