<h2 class="title">Création Instruction</h2>

<div class="main-div">
    <mat-card>
        <form [formGroup]="productForm" (submit)="onSavePost()">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Instruction</mat-label>
                <textarea matInput formControlName='text' placeholder="Instruction"></textarea>
            </mat-form-field>

            <h2>Liste des Ingrédients</h2>
            <div formArrayName="ingredients" class="container">
                <div *ngFor="let item of ingredients.controls; let ingredientIndex=index"
                    [formGroupName]="ingredientIndex">
                    <table>
                        <tr>
                            <td>
                                <mat-form-field appearance="fill">
                                    <input matInput type="text" formControlName='ingredientName'
                                        placeholder="Nom ingrédient">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <input matInput type="number" formControlName='quantity' placeholder="Quantité">
                                </mat-form-field>
                            </td>
                            <td><button mat-raised-button color="warn" type="button"
                                    (click)="deleteIngredient(ingredientIndex)">Supprimer</button></td>
                        </tr>
                    </table>
                </div>
                <button mat-raised-button color="accent" type="button" style="margin-top: 1rem; margin-bottom: 1rem;"
                    (click)="addIngredient()">Ajouter ingrédient</button>
            </div>
            <hr>
            <button mat-raised-button color="primary" style="margin-top: 1rem;" type="submit">Sauvegarder</button>
        </form>
    </mat-card>
</div>