<div class="pantry-header">
    <h2 class="title">Inventaire Garde Manger</h2>
    <a mat-raised-button color="primary" routerLink="/">Ajouter nourriture</a>
</div>

<mat-accordion *ngIf="inventory.length > 0">
    <mat-card *ngFor="let ingredient of inventory">
        <mat-card-header>
            <!--Titre-->
            <mat-card-title>
                {{ ingredient.ingredientName }}
            </mat-card-title>
        </mat-card-header>

        <!--Image-->
        <div class="ingredient-image">
            <img [src]="ingredient.ingredientImagePath" [alt]="ingredient.ingredientName">
        </div>

        <mat-card-content>
            <h2>Liste des éléments</h2>
            <div class="onSameLine" *ngFor="let pantry of ingredient.pantries">
                <h4 class="ingredientQuantity">{{pantry.quantity}}</h4>
                <a mat-raised-button style="margin-right: 1rem;" color="primary"><mat-icon>edit</mat-icon></a>
                <a mat-raised-button color="warn" (click)="deletePantry(pantry)"><mat-icon>delete</mat-icon></a>
            </div>
            <a mat-raised-button color="accent" [routerLink]="['/pantry/create']">+</a>
        </mat-card-content>
    </mat-card>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="inventory.length == 0">Aucun éléments</p>